<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="com.example.iosrealtimecam"
    version="0.0.1">
    
    <name>Custom Camera</name>
    <description>PhoneGap plugin to support a custom camera overlay</description>
    <author>Vote 539 and others</author>
    
    <info>
        This plugin was written with the tutorial found at:
        http://codrspace.com/vote539/writing-a-custom-camera-plugin-for-phonegap/
    </info>
    
    <js-module src="www/js/iosrealtimecam.js" name="iosrealtimecam">
        <clobbers target="navigator.iosrealtimecam" />
    </js-module>
    
    <engines>
        <engine name="cordova" version=">=3.1.0" />
    </engines>
    
    <platform name="ios">
        
        <!-- config file -->
        <config-file target="config.xml" parent="/*">
            <feature name="iosrealtimecam">
                <param name="ios-package" value="iosrealtimecam" />
            </feature>
        </config-file>
        
        <!-- core CustomCamera header and source files -->
        <header-file src="platforms/ios/iosrealtimecam/Classes/iosrealtimecam.h" />
        <header-file src="platforms/ios/iosrealtimecam/Classes/realtimecamViewController.h" />
        <source-file src="platforms/ios/iosrealtimecam/Classes/iosrealtimecam.m" />
        <source-file src="platforms/ios/iosrealtimecam/Classes/realtimecamViewController.m" />
        <resource-file src="platforms/ios/iosrealtimecam/Classes/realtimecamViewController.xib" />
        
    </platform>
    
</plugin>